/* CSS reset */
*, *:before, *:after { 
  margin:0;
  padding:0;
  font-family: Arial,sans-serif;

}

body{
  margin: 50px 50px;  
  
}

a{
  text-decoration: none;
}

/* esconde as ancoras da tela */
a.links{
  display: none;
}

/* content que contem os formulários */
.content{
  width: 500px;
  margin: 0px auto;
  margin-top: 80px;
  position:relative;   
}

/* formatando o cabeçalho dos formulários */
h1{
  font-size: 35px;
  color: #6e8db9;
  padding: 10px 0;
  font-family: Arial,sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}
h1::after{
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background: -webkit-linear-gradient(left, rgba(6, 28, 31, 0) 0%,rgba(189, 147, 171, 0.8) 20%,rgb(181, 189, 147) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
  background: linear-gradient(left, rgba(189, 147, 189, 0) 0%,rgba(171, 189, 147, 0.8) 20%,rgb(189, 147, 149) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
}

p{
  margin-bottom:15px;
}
p:first-child{
  margin: 0px;
}
label{
  color: #405c60;
  position: relative;
}

/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder  {
  color: #bebcbc; 
  font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
  color: #bebcbc;
  font-style: italic;
} 
input {
  outline: none;
}

input:not([type="checkbox"]){
  width: 95%;
  margin-top: 4px;
  padding: 10px;  
  border: 1px solid #b2b2b2;
  
  -webkit-border-radius: 10px;
  border-radius: 10px;
  
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/*estilo do botão submit */
input[type="submit"]{
  width: 100%!important;
  cursor: pointer;  
  background: #6e8db9;
  padding: 8px 5px;
  color: #fff;
  font-size: 20px;  
  border: 1px solid #fff; 
  margin-bottom: 10px;  
  text-shadow: 0 1px 1px #333;
  
  -webkit-border-radius: 10px;
  border-radius: 10px;
  
  transition: all 0.2s linear;
}
input[type="submit"]:hover{
  background: #06486e;
}

/*marcando os links para mudar de um formulário para outro */
.link{
  position: absolute;
  background: #a0bce2;
  color: #ffffff;
  left: 0px;
  height: 60px;
  width: 440px;
  padding: 17px 30px 20px 30px;
  font-size: 18px;
  text-align: right;
  border-top: 1px solid #dbe5e8;

  -webkit-border-radius: 0 0  5px 5px;
  border-radius: 0 0  5px 5px;
}
.link a {
  text-decoration: none;
  font-weight: bold;
  background: #f7f8f1;
  padding: 6px;
  color: #6e8db9;
  height: 30px;
  width: 100px;
  margin-left: 10px;
  text-align: center;
  border: 1px solid #6e8dbb;

  -webkit-border-radius: 4px;
  border-radius: 4px;  

  -webkit-transition: all 0.4s linear;
  transition: all 0.4s  linear;
}
.link a:hover {
  color: #39bfd7;
  background: #f7f7f7;
  border: 1px solid #4ab3c6;
}

/* estilos para para ambos os formulários */
#cadastro, 
#login{
  position: absolute;
  top: 0px;
  width: 88%; 
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;
  background: rgb(247, 247, 247);
  border: 1px solid rgba(147, 184, 189,0.8);
  
  -webkit-box-shadow: 5px;
  border-radius: 5px;
  
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;

  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

#paracadastro:target ~ .content #cadastro,
#paralogin:target ~ .content #login{
  z-index: 2;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;

  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}
#registro:target ~ .content #login,
#paralogin:target ~ .content #cadastro{
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

/*fadeInLeft*/
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*fadeOutLeft*/
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}



.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
@media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
}
  
.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
  
.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}
  
.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}
  
.sidebar .nav-link.active {
    color: #2470dc;
}
  
.sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
}
  
.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}
  
  /*
   * Registros
   */
  

.nav-link:hover {
       background-color: rgb(176,224.230);
   }

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

#sidebarMenu {
      background-color: rgba(119, 16, 64, 0.4);
  }

#logo {
    height: 10vh;
    width: 10vw;
  }

#cadastrar {
    margin-top: 40px;
    text-align: center;
    height: 40px;
    font-size: 15pt;
    font-style: normal;
  }

  .main {
    position: relative;

  }


 .nav-link:hover{
     background-color: rgb(176,224.230);

 }

#formulario_atividades {
      background-image: linear-gradient(to right, #6386AB,#C8D5E3 );
      border: 2px #ffffff;
      border-style: groove;
      border-radius: 10px;
      margin-top: 2em;
      margin-left: 4rem;
      margin-right:4rem;
      padding: 3%;
      font-weight: bold;
      font-style: italic;
      font-size:large; 
    } 

#formulario_alimentacao {
    background-image: linear-gradient(to right, #6386AB,#C8D5E3 );
    border: 2px #ffffff;
    border-style: groove;
    border-radius: 10px;
    margin-top: 3em;
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 3%;
    font-weight: bold;
    font-style: italic ;
    font-size:large; 
}

#formulario_peso {
    background-image: linear-gradient(to right, #6386AB,#C8D5E3 );
    border: 2px #ffffff;
    border-style: groove;
    border-radius: 10px;
    margin-top: 3em;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 5rem;
    padding: 3%;

    font-style: italic ;
    font-size:large; 
    font-weight: bold;

}

/* Dashboard */

#cabecalho {
    background-color: #6e8db9;
}


#exampleModalLabel {
  width: 100%;
  height: 100%;
}

/* REGISTRO */

#botaosair {
  color: white;
}

#botaovoltar {
  color: #6e8db9;
  font-weight: bold;
  margin-top: 1em;
  
  
}

